
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact Information</h1>

<p>
    Feel free to contact us with any regards that you amy have! You can reach us using the following
    options. We try to respond to all of our users within 2 bussiness days.
</p>

<h3>Phone Number and Email:</h3>
<p>
    (253) 226-6522 <br />
    Salgado9421@student.cptc.edu
</p>

<h3>Address</h3>
<p>
    19909 102nd Ave E <br />
    Bonney Lake, Wa, 98391
</p>