@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Auction House</h1>
    <p>Welcome in! We hope you find what you're looking for at a steal of a price!</p>
</div>
