@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Your personal information will be used for the sole purpose of creating a smooth and streamlined experience when using our website.
    Information will not be accessed or sold to any third party companies for any reason. There is absolutely no exception for this. Our
    website will use cookies as a tool to help provide an overall better experience for everyone that uses our site. Addresses and other personal
    information will be used for the sole purpose of peer to peer sales that take place in this auction site. Some examples of this are people being
    able to see an approximate location that the seller is posting from to organize listings in a distance based manner. We strive to provide you with 
    the best possible shopping experience while maintaining a secure environment.
</p>
