
@{
    ViewData["Title"] = "Index";
}

<h1>Products!</h1>
<p>This will be the beginning of the products page that will show all of the current offers with pagination implemented eventually
    I will go ahead and get add and delete working for now and move to displaying items after the DB is populated.
    </p>
<br />

