
@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
}

<h1>Products!</h1>
<p>
    This will be the beginning of the products page that will show all of the current offers with pagination implemented eventually
    I will go ahead and get add and delete working for now and move to displaying items after the DB is populated.
</p>

<br />

<div class="list-group-item">
    <ul>
        @foreach (Product p in Model)
        {

            <b>@Html.DisplayTextFor(m => p.Name)</b>
            //Will also look to display image here and move to a gallery style layout
            <li>
                @Html.DisplayTextFor(m => p.Price)
                @Html.DisplayTextFor(m => p.Description)
                @Html.DisplayTextFor(m => p.Image)
            </li>

        }
</div>
<br />

</ul>